
.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-card {
    background-color: black;
    margin-bottom: 100px;
    padding: 40px 90px;
    border-radius: 6px;
    width: 530px;
    color: whitesmoke;
}
.input {
    width: 500px;
}
#input-form {
    border-radius: 3px;

}
.input-img {
    height: 37px;
    border-radius: 3px;

}
#input-form{
    border-radius: 3px;
}
.text {
    color: gray;
    font-weight: 500;
    font-size: 14px;
}
